.app-nav {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    width: 250px;
    overflow-y: auto;
    background: #003c6c;
    border-color: #19507b;
    /* box-shadow: inset 0 1px 2px 0px rgba(0,0,0,0.5); */
}

.app-nav ul li {
        list-style: none;
    border-left: 5px solid transparent;
    }

        .app-nav ul li a {
            position: relative;
            display: flex;
            align-items: center;
            height: 50px;
            text-shadow: 0px 0px 1px #888;
            color: #fff;
            /* font-weight: 600; */
        }

        .app-nav ul li a .icon{
            order: 1;
            width: 40px;
            padding: 0 10px 0 10px;
            font-size: 25px;
        }

        .app-nav ul li a .text{
            order: 2;
            font-size: 13px;
        }

        .app-nav ul li a .bullet-b {
            order: 3;
        }

        .app-nav ul li a:hover {
            text-decoration: none;
            background : #0d4673;
            
        }

        .app-nav ul li.active {
            background: #0d4673;
            border-left: 5px solid #4ea6bc;
        }

        .app-nav ul li:hover {
            /*border-bottom: 3px solid #aa0000;*/
            border-left: 5px solid #4ea6bc;
            background: #ddd;
        }
