<div class="app-patient">
    <div class="app-patient-bar">
        <div class="app-patient-bar-title">
            <h1>{{vm.title}} d'un employé</h1>
        </div>
        <div class="app-page-action">
            <ul>
                <li>
                    <a href="#/employee" title="Retour à la liste">
                        <div class="icons-icon mdl2-arrow-HTML-legacy"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="app-panel">
        <div class="app-panel-main">
            <form name="accountForm" novalidate>
                <div class="aq">
                    <p>Les champs avec (*) sont requis</p>
                </div>
                <div class="message" ng-show="vm.updateStatus">
                    <div class="label label-success">
                        <span class="glyphicon glyphicon-thumbs-up icon-white"></span>
                        <span>{{ vm.message }}</span>
                    </div>
                </div>
                <div class="aq">
                    <h1>{{ vm.account.fullName }}</h1>
                    <input type="hidden" name="employeeId" ng-model="vm.account.employeeId" />
                </div>
                <div class="aq">
                    <label>Choix du role : </label>
                    <select name="roleId"
                            ng-model="vm.account.roleId"
                            ng-options="r.id as r.roleName for r in vm.roles"
                            required>
                        <option value="">Liste de Role</option>
                    </select>
                    <div class="errorMessage" ng-show="accountForm.roleId.$invalid && accountForm.roleId.$focused">
                        <small class="error" ng-show="accountForm.roleId.$error.required">
                            Ce champs est requis !
                        </small>
                    </div>
                </div>

                <div class="aq">
                    <label>Nom d'utilisateur : </label>
                    <input name="userName" type="text" ng-model="vm.account.userName" />
                    <div class="errorMessage" ng-show="accountForm.userName.$invalid && accountForm.userName.$focused">
                        <small class="error" ng-show="accountForm.userName.$error.required">
                            Ce champs est requis !
                        </small>
                    </div>
                </div>

                <div class="aq">
                    <label>Mot de passe : </label>
                    <input name="password" type="password" ng-model="vm.account.password" />
                    <div class="errorMessage" ng-show="accountForm.password.$invalid && accountForm.password.$focused">
                        <small class="error" ng-show="accountForm.password.$error.required">
                            Ce champs est requis !
                        </small>
                    </div>
                </div>

                <div class="aq">
                    <button type="submit" ng-click="vm.saveAccount()"
                            ng-disabled="accountForm.$invalid">
                        {{vm.buttonText}}
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
