<form class="app-form">
    <div class="app-form-head">
        <span class="nom">Atchori willy</span>
        <span>16 ans</span>
        <span>01909887</span>
        <span>M</span>
        <span class="close">X</span>
        <span class="date">enregistré le 01-09-2015</span>
    </div>
    <div class="app-form-cont">
        <div class="block">
            <label>Nom : </label>
            <input type="text" />
        </div>
        <div class="block">
            <label>Prénom : </label>
            <input type="text" />
        </div>
        <div class="block">
            <label>Date de naissance : </label>
            <select>
                <option></option>
            </select>
            <select>
                <option></option>
            </select>
            <select>
                <option></option>
            </select>
        </div>
        <div class="block">
            <label>Genre:</label>
            <div class="radio">
                <label class="radio">
                    <input type="radio" name="genre" value="1" ng-checked="1" />
                    Masculin
                </label>
            </div>
            <div class="radio">
                <label class="radio">
                    <input type="radio" name="genre" value="0" />
                    Feminin
                </label>
            </div>
        </div>
        <div class="block">
            <label>Email adresse : </label>
            <input type="email" />
        </div>
        <div class="block">
            <label>Telephone : </label>
            <input type="text" />
        </div>
        <div class="block">
            <label>Pays : </label>
            <select>
                <option></option>
            </select>
        </div>
        <div class="block">
            <label>Commune : </label>
            <select>
                <option></option>
            </select>
        </div>
        <div class="block">
            <label>Quartier : </label>
            <select>
                <option></option>
            </select>
        </div>
        <div class="block">
            <label>Adresse : </label>
            <input type="text" />
        </div>
        <div class="block">
            <label>Type de pièce : </label>
            <select>
                <option></option>
            </select>
        </div>
        <div class="block">
            <label>Numéro de la pièce : </label>
            <input type="text" />
        </div>
    </div>
    <div class="app-form-foot">
        <button type="submit">
            <span>Enregistrer</span>
        </button>
        <button>
            <span>Annuler</span>
        </button>
    </div>
</form>